<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>网站基本设置</title>   
        <!-- Bootstrap -->
        <link href="__PUBLIC__/admin/css/bootstrap.css" rel="stylesheet">
        <!--你自己的样式文件 -->
        <link href="__PUBLIC__/admin/css/websetting.css" rel="stylesheet">     
        <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.__PUBLIC__/admin/js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div class="row row-gap">
                <h1 class="text-primary">基本设置</h1>
                <form action="{:U('edit')}" method="post">
                    <foreach name="list1" item="vo" key="k">
                        <div class="form-inline web-setting-form">
                            <label class="web-setting-label" for="websetting-input">{$vo.info}</label>
                            <input type="text" class="form-control" class="websetting-input" name="value[{$vo.sysname}]" value="{$vo.value}">

                            <if condition="$vo.status eq 1">
                                <label class="radio-inline">
                                    <input type="radio" name="status[{$vo.sysname}]" value="1" checked > 开启
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="status[{$vo.sysname}]" value="0"> 关闭
                                </label>                                
                            <else />
                                <label class="radio-inline">
                                    <input type="radio" name="status[{$vo.sysname}]" value="1"> 开启
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="status[{$vo.sysname}]" value="0" checked> 关闭
                                </label>
                            </if> 
                            <input type="hidden" name="typeid" value="1"/>
                            <input type="hidden" name="sysname" value="{$sysname}"/>                           
                        </div>
                    </foreach>
                    <button class="btn websetting-btn btn-primary" type="submit">提交</button>
                </form>
            </div>

            <div class="row row-gap">
                <h1 class="text-primary">{$vo.info}</h1>
                <foreach name="list2" item="vo" key="k">
                <form action="{:U('editP')}" method="post" enctype="multipart/form-data">
                    <div class="form-group web-setting-form">
                        <label for="">图片上传</label>
                        <input type="file" name="{$vo.sysname}">
                        <img src="__PUBLIC__/index/images/{$vo.value}" title="{$vo.info}" class="img-rounded img-block <?php if($vo['sysname'] == 'logo'){echo "img-logo";}elseif($vo['sysname'] == 'qrcode'){echo "img-qrcode";}?>">
                        <if condition="$vo.status eq 1">
                            <label class="radio-inline">
                                <input type="radio" name="{$vo.sysname}[status]" value="1" checked> 开启
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="{$vo.sysname}[status]" value="0"> 关闭
                            </label>
                        <else />
                            <label class="radio-inline">
                                <input type="radio" name="{$vo.sysname}[status]" value="1"> 开启
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="{$vo.sysname}[status]" value="0" checked> 关闭
                            </label>
                        </if>
                    </div>
                    <input type="hidden" name="sysname" value="{$vo.sysname}"/>
                    <input type="hidden" name="typeid" value="2"/>
                    <button class="btn btn-primary" type="submit">提交</button>
                </form>
                </foreach>
            </div>

            <div class="row row-gap">
                <h1 class="text-primary">自行添加属性</h1>
                <form action="{:U('Sysconfig/doadd')}" method="post">
                    <div class="form-inline web-setting-form">
                        <label class="web-setting-label" for="websetting-input">属 性 键</label>
                        <input type="text" class="form-control" class="websetting-input" placeholder="必需小写是英文,多个单词用下划线" name="sysname" id="sysname">
                    </div>
                    <div class="form-inline web-setting-form">
                        <label class="web-setting-label" for="websetting-input">属 性 值</label>
                        <input type="text" class="form-control" class="websetting-input" name="value" id="value">
                    </div>
                    <div class="form-inline web-setting-form">
                        <label class="web-setting-label" for="websetting-input">属性名称</label>
                        <input type="text" class="form-control" class="websetting-input" placeholder="即备注" name="info" id="info">
                    </div>
                    <input type="hidden" name="typeid" value="1"/>
                    <div class="form-inline web-setting-form">
                        <label class="web-setting-label" for="websetting-input">是否开启：</label>
                        <label class="radio-inline">
                            <input type="radio" name="status" value="1" checked > 开启
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="status" value="0"> 关闭
                        </label>
                    </div>
                    <button class="btn websetting-btn btn-primary" type="submit" onclick="return empty()" id="add">提交</button>
                </form>
            </div>
        </div>
        <br/><br/><br/><br/><br/><br/>
        <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
        <script src="__PUBLIC__/admin/js/jquery.min.js"></script>
        <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
        <script src="__PUBLIC__/admin/js/bootstrap.js"></script> 
    </body>
</html>
<script type="text/javascript">
$(function(){
  //   $("#add").click(function(){
        // var sysname = document.getElementById('sysname').value;
        // var value = document.getElementById('value').value;
        // var info = document.getElementById('info').value;     
  //   });
});
function empty(){
    var ruleSysname = /^[a-z]+$/;

    var sysname = document.getElementById('sysname');
    var value = document.getElementById('value');
    var info = document.getElementById('info');
    if(sysname.value == "" || value.value == "" || info.value == ""){
        alert("请完善你添加的信息！");
        return false;
    }
    if(ruleSysname.test(sysname)){
    }else{
        alert("属性键必需是英文。");
        return false;       
    }
}
</script>