<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>系统设置</title>
<script type="text/javascript" src="__PUBLIC__/jquery-1.8.3.min.js"></script>
</head>

<body>
	<form action="{:U('edit')}" method="post">
		<foreach name="list" item="vo" key="k">
		    <p>{$vo.info}：<input type="text" name="value[{$vo.sysname}]" value="{$vo.value}" class="value_{$k}"/>
			<if condition="$vo.status eq 1">
			    <input type="radio" name="status[{$vo.sysname}]" value="1" checked>开启<input type="radio" name="status[{$vo.sysname}]" value="0">关闭
			<else />
			    <input type="radio" name="status[{$vo.sysname}]" value="1">开启<input type="radio" name="status[{$vo.sysname}]" value="0" checked>关闭
			</if>
		</foreach>
		<br/>
		<button>提交修改</button>
	</form>

<br/><br/><br/><br/><br/><br/>
<form action="{:U('Sysconfig/doadd')}" method="post">
<p>变量名：<input type="text" name="sysname" placeholder="必需小写是英文,多个单词用下划线" style="width:300px;"></p>
<p>变量值：<input type="text" name="value"></p>
<p>备注：<input type="text" name="info"></p>
<input type="hidden" name="typeid" value="1"/>
<input type="radio" name="status" value="1" checked>开启<input type="radio" name="status" value="0">关闭

<p><button>添加</button></p>
</form>
</body>
</html>